@import '../variables';

.book-store-list {
  li {
    margin-bottom: 10px;
  }

  li:last-child {
    margin-bottom: 0;
  }
}

.book-store-list-loading {
  padding: 20px 0;
  font-size: 1.5em;
}

.book-store-list-error {
  padding: 20px 0;

  h1 {
    font-size: 1.5em;
  }
}
