// Main color palette - colors are ordered from lightest to darkest
$color1: #ece0d1;
$color2: #dbc1ac;
$color3: #967259;
$color4: #634832;
$color5: #38220f;

$color-error: #cf000f;
$color-success: #009944;

$content-width: 1000px;
